<section class="comments">
  <div class="comments__new mb-4">
    {% include comment_form.html %}
  </div>
  {% if site.data.comments[page.slug] %}
  <div class="comments__existing">
    <h5>Comments</h5>
    {% assign comments = site.data.comments[page.slug] | where_exp: "item", "item.replying_to_uid == ''" %}
    {% assign comments_by_date = comments | sort: 'date' | reverse %}
    {% for comment in comments_by_date %}
    {%- assign name            = comment.name %}
    {%- assign date            = comment.date %}
    {%- assign message         = comment.message %}
    {%- assign uid             = comment._id %}
    {% include comment.html is_reply=false uid=uid replying_to=0 name=name date=date message=message uid=uid %}
    {% endfor %}
  </div>
  {% endif %}
</section>
