<footer id="footer" class="w-100">
    <div>
        <div class="justify-content-center align-content-center flex-column flex-md-row flex-lg-row flex-xl-row d-flex">
            <div class="mt-1 mb-1 ml-4 mr-4 d-flex justify-content-center">
                <a href="#top">Back to top</a>
            </div>			  
            {% for item in site.contact %}
            <div class="mt-1 mb-1 ml-4 mr-4 d-flex justify-content-center">
                <a href="{{ item.link }}">{{ item.title }}</a>
            </div>
            {% endfor %}
        </div>
        <div class="text-center">
            <!-- <p>&copy <a href="https://creativecommons.org/licenses/by-nc-nd/4.0/legalcode">CC BY-NC-ND 4.0 International license</a> by {{ site.author }}</p> -->
        </div>
    </div>
</footer>
