---
layout: default
---
<!-- Just some nice to have styles for the pager buttons -->
<style>
ul.pager { text-align: center; list-style: none; }
ul.pager li {display: inline;border: 1px solid black; padding: 10px; margin: 5px;}
</style>

<div class="home">
    <h2 class="page-heading">Posts tagged with <b>{% if page.autopages
            %}{{page.autopages.display_name}}{% endif %}</b> Page
        {{page.pagination_info.curr_page}} of
        {{page.pagination_info.total_pages}}</h2>

    {{ content | markdownify }}

    <div class="post-list list-group">
        {% for post in paginator.posts %}
        <a class="list-group-item list-group-item-action flex-column align-items-start post-link" href="{{ post.url | relative_url }}">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ post.title | escape }}</h5>
                <small>{{ post.date | date: "%b %-d, %Y" }}</small>
            </div>
            <small>Author: {{ post.author | escape }}</small>


        </a>
        {% endfor %}
    </div>

    <!-- 
        Showing buttons to move to the next and to the previous list of posts (pager buttons).
    -->
    {% if paginator.total_pages > 1 %}
    <ul class="pager">
        {% if paginator.previous_page %}
        <li class="previous">
            <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
        </li>
        {% endif %}
        {% if paginator.next_page %}
        <li class="next">
            <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
        </li>
        {% endif %}
    </ul>
    {% endif %}
</div>
