<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        {% include header.html %}
        <div class="container container-blog">

            <div class="page-header-blog">
                <h2>{{ page.title }}</h2>
            </div>
            <div class="row-blog">
                <div class="col-blog">
                    {% if page.description %}
                    <div class="description-blog">
                        <p class="lead lead-blog">{{ page.description }}</p>
                    </div>
                    {% endif %}
                    <div class="description-blog">
                        <p class="lead lead-blog">Written by {{ page.author }} on {{ page.date | date_to_string }}</p>
                    </div>
                </div>
            </div>


            <!-- Containers
                ================================================== -->


                <div class="row">
                    <div class="col-lg-12">
                        <div class="bs-component-blog bs-component">
                            <div class="jumbotron-blog jumbotron">		
                                <p class="lead">{{ content }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-blog">
                    <div>
                    <div class="bs-component-blog bs-component">
                    <div class="jumbotron-blog jumbotron">
                    <div class="form-title">
                        <h5>Please, leave your comment here</h5>
                    </div>
                    <form
                        method="POST"
                        action="http://157.90.126.247:8080/v3/entry/github/blogservitor/urickon.github.io/master/comments"
                        class="form-for-comments"
                    >
                        <input
                            name="options[redirect]"
                            type="hidden"
                            value="https://my-site.com"
                        >
                        <input
                            type="hidden"
                            id="comment-parent"
                            name="fields[replying_to_uid]"
                            value=""
                        >
                        <input
                            name="options[slug]"
                            type="hidden"
                            value="{{ page.slug }}"
                        >
                        <div class="comments-input-container">
                            <label>
                                Name
                                <input
                                    name="fields[name]"
                                    class="comment-textfield"
                                    id="name"
                                    type="text"
                                    placeholder="Enter your name."
                                >
                            </label>
                        </div>
                        <div class="comments-input-container">
                            <label>
                                Message
                                <textarea
                                    name="fields[message]"
                                    class="comment-textfield"
                                    id="message"
                                    placeholder="Leave your comment here (markdown accepted)."
                                ></textarea>
                            </label>
                        </div>
                        <div class="button-box">
                            <button id="sbtBtn" type="submit">Go!</button>
                        </div>
                    </form>
                    <div class="comments">
                        Here will be your comments...
                    </div>
                    </div>
                    </div>
                    </div>
                </div>


                    {% include footer.html post="post" %}

        </div>
        <script src="{{site.baseurl}}/assets/js/form.js"></script>
        <script src="{{site.baseurl}}/assets/js/jquery.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    </body>
</html>
